[Unit]
Description=North Harbor Demo App
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user
ExecStart=/usr/bin/java -jar /home/ec2-user/northharbordemo.jar
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target


