<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>North Harbor Financial Services Demo</title>
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
<link
    rel="preload"
    as="image"
    href="/northharbordemo/background-q82.webp"
    fetchpriority="high">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
	integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
	crossorigin="anonymous"></script>

<style>
body {
	background-color: #8fa8c4;
	background-image: url("/northharbordemo/images/background-q82.webp");
	background-position: center 80px;
	background-repeat: no-repeat;
}
@media (max-width: 768px) {
    body {
        background-image: url("/northharbordemo/images/background-768-q82.webp");
    }
}
</style>
<script>
	$(document).ready(function() {
		$('#sidebar-btn').on('click', function() {
			$('#sidebar').toggleClass('visible');
		});
	});
</script>
</head>
<body>
	<div id="sidebar">
		<ul>
			<li><a th:href="@{/viewSymbols}">Symbols</a></li>
			<li><a th:href="@{/viewLatest}">Latest</a></li>
		</ul>

		<div id="sidebar-btn">
			<span></span> <span></span> <span></span>
		</div>
	</div>
	<div class="title">
		<h1 style="font-family: Georgia, 'Times New Roman', serif;">
			North Harbor Financial Services Demo</h1>
	</div>
</body>
</html>